<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

    <hr>
    <h1>
        country add
    </h1>

    <form action="/create/country" method="get">
        <input type="text" name="country">
        <button type="submit">add</button>
    </form>


    <hr>
    <h1>
        city add
    </h1>

    <form action="/create/city" method="get">
        <input type="text" name="country">
        <input type="text" name="city">
        <button type="submit">add</button>
    </form>

</body>
</html>
